[submodule "ipmininet"]
	path = ipmininet
	url = https://github.com/jadinm/ipmininet.git
	ignore = untracked
[submodule "sr6mininet"]
	path = sr6mininet
	url = https://bitbucket.org/jadinm/sr6mininet.git
[submodule "srn"]
	path = srn
	url = https://github.com/segment-routing/srn.git
